.App {
  font-family: monospace;
  font-size: 17px;
  text-align: center;
}

.header__note {
  font-size: 0.66em;
}

.main {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .main {
    flex-direction: column;
  }
}

.preview {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-right: 25px;
}

.preview__button {
  width: 30px;
  height: 30px;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  border: 0;
  background: transparent;
  position: relative;
}

.preview__button::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(180,180,180,0.8);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.4);
  transition: background 0.2s;
}

.preview__button:hover::before {
  background: rgba(140,140,140,0.8);
}

.preview__button--current::before {
  background: rgba(235,235,235,0.8);
  box-shadow: none;
}

.preview__button--current:hover::before {
  background: rgba(235,235,235,0.8);
  box-shadow: none;
}

.preview__imgs-wrapper {
  width: 640px;
  height: 480px;
  position: relative;
}

.preview__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s;
}

.preview__img--current {
  opacity: 1;
  pointer-events: auto;
}

.filters-area {
  flex: 2;
}

@media screen and (max-width: 1024px) {
  .filters-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.filter-controls {
  display: flex;
  margin: 20px 0;
}


.filter-controls__name {
  min-width: 100px;
  align-self: flex-end;
}

.filter-controls__current-value {
  font-size: inherit;
  font-family: inherit;
}

.filter-controls__slider-wrapper {
  min-width: 275px;
}
