.App {
  font-family: monospace;
  font-size: 17px;
  text-align: center;
}

.header__note {
  font-size: 0.66em;
}

.main {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .main {
    flex-direction: column;
  }
}

.preview-img {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-right: 25px;
}

.filters-area {
  flex: 2;
}

@media screen and (max-width: 1024px) {
  .filters-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.filter-controls {
  display: flex;
  margin: 20px 0;
}


.filter-controls__name {
  min-width: 100px;
  align-self: flex-end;
}

.filter-controls__current-value {
  font-size: inherit;
  font-family: inherit;
}

.filter-controls__slider-wrapper {
  min-width: 275px;
}
