.App {
  text-align: center;
  font-family: monospace;
  font-size: 17px;
}

.preview-img {
  float: left;
  margin: 10px;
  margin-right: 25px;
}

.filter-controls {
  display: flex;
  margin: 20px 0;
}

.filter-controls__name {
  width: 100px;
  align-self: flex-end;
}

.filter-controls__slider-wrapper {
  width: 275px;
}
